---
- name: Create PersistentVolumeClaims
  kubernetes.core.k8s:
    state: present
    namespace: "{{ k8s_namespace }}"
    definition: "{{ lookup('file', k8s_manifests_dir + '/persistent-volumes.yaml') | from_yaml_all }}"

- name: Create ConfigMaps
  kubernetes.core.k8s:
    state: present
    namespace: "{{ k8s_namespace }}"
    definition: "{{ lookup('file', k8s_manifests_dir + '/configmap.yaml') | from_yaml_all }}"

- name: Create Secrets
  kubernetes.core.k8s:
    state: present
    namespace: "{{ k8s_namespace }}"
    definition: "{{ lookup('file', k8s_manifests_dir + '/secrets.yaml') | from_yaml_all }}"

- name: Create Docker Hub secret
  shell: |
    minikube kubectl -- create secret docker-registry dockerhub-secret \
      --docker-server=https://index.docker.io/v1/ \
      --docker-username="{{ docker_username }}" \
      --docker-password="{{ docker_password }}" \
      --namespace="{{ k8s_namespace }}" \
      --dry-run=client -o yaml | minikube kubectl -- apply -f -
  when: docker_password != ""
  no_log: true
