---
- name: Deploy Zookeeper
  kubernetes.core.k8s:
    state: present
    namespace: "{{ k8s_namespace }}"
    definition: "{{ lookup('file', k8s_manifests_dir + '/zookeeper-deployment.yaml') | from_yaml_all }}"

- name: Wait for Zookeeper to be ready
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: "{{ k8s_namespace }}"
    label_selectors:
      - app=zookeeper
    wait: yes
    wait_condition:
      type: Ready
      status: "True"
    wait_timeout: 300

- name: Deploy Kafka
  kubernetes.core.k8s:
    state: present
    namespace: "{{ k8s_namespace }}"
    definition: "{{ lookup('file', k8s_manifests_dir + '/kafka-deployment.yaml') | from_yaml_all }}"

- name: Wait for Kafka to be ready
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: "{{ k8s_namespace }}"
    label_selectors:
      - app=kafka
    wait: yes
    wait_condition:
      type: Ready
      status: "True"
    wait_timeout: 300
