---
- name: Deploy Zookeeper
  kubernetes.core.k8s:
    state: present
    namespace: "{{ k8s_namespace }}"
    definition: "{{ lookup('file', k8s_manifests_dir + '/zookeeper-deployment.yaml') | from_yaml_all }}"

- name: Wait for Zookeeper deployment
  shell: |
    kubectl rollout status deployment/zookeeper -n {{ k8s_namespace }} --timeout=300s
  register: zookeeper_status
  retries: 2
  delay: 10
  until: zookeeper_status.rc == 0

- name: Deploy Kafka
  kubernetes.core.k8s:
    state: present
    namespace: "{{ k8s_namespace }}"
    definition: "{{ lookup('file', k8s_manifests_dir + '/kafka-deployment.yaml') | from_yaml_all }}"

- name: Wait for Kafka deployment
  shell: |
    kubectl rollout status deployment/kafka -n {{ k8s_namespace }} --timeout=600s
  register: kafka_status
  retries: 2
  delay: 10
  until: kafka_status.rc == 0
